{% extends "template.html" %}
{% block action %}"/grantrevokelicensereq"{% endblock %}
{% block function %}"Grant/Revoke"{% endblock %}
{% block fields %}
    <label class="form-control" name="grantrevokelictitle" style="font-weight:bold">Grant - Revoke Pilot License</label>
    <br>
    <table>

         <tr>
            <td>Person:
             <select name="option1" width="3000px" class="form-control" >
                    {% for o in items %}
                        {% if o.personID is defined and not empty %}
                            <option value="{{o.personID}}" SELECTED>{{o.personID}}</option>
                        {% else %}
                            NONE
                        {% endif %}
                    {% endfor %}
                </select><p>&nbsp;</p></td>

        </tr>
        <br>
        <tr>
            <td>
                  License Type:
             <select name="option2" width="3000px" class="form-control" >
                    {% for o in items %}
                        {% if o.license is defined and not empty %}
                            <option value="{{o.license}}" SELECTED>{{o.license}}</option>
                        {% else %}
                            NONE
                        {% endif %}
                    {% endfor %}
                </select>

            </td>
        </tr>

    </table>

{% endblock %}