<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Simple Airline Management System</title>
    <style>
      body, html {
        height: 100%;
        margin: 0;
      }


      .bg {
        /* The image used */
        background-image: url("static/images/airport.jpeg");
        opacity: 0.7;
        /* Full height */
        height: 84%;

        /* Center and scale the image nicely */
        background-position: bottom;
        background-repeat: repeat;
        background-size: cover;
        /* overflow: hidden; */
      }


      * {
        font-family: myFirstFont;
      }
      </style>
</head>
<body>
<div class="container">
    <div class="well text-center">
        <h1>Simple Airline Management System - User's Homepage</h1>
    </div>
    <table>
        <tr>
            <td >
                <div class="well"  style="width: 400px;">
        <h4>Airline</h4>
        <div class="container" style="display:flex; text-align:center;">

            <form action="/viewAirline">
                <input type="submit" class="btn btn-default" value="View Airline"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addAirlines" hidden="true">
                <input type="submit" class="btn btn-info" value="Add Airlines"/>
            </form>
            <div style="margin:5px;"></div>
             <form action="/updateAirlines" hidden="true">
                <input type="submit" class="btn btn-primary" value="Update Airlines"/>
            </form>
            <div style="margin:5px;"></div>

        </div>
    </div>
            </td>
            <td >
                 <div class="well" style="width: 400px;">
        <h4>Airplane</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/viewAirplanes">
                <input type="submit" class="btn btn-default" value="View Airplanes"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addAirplanes" hidden="true">
                <input type="submit" class="btn btn-info" value="Add Airplanes"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/updateAirplanes" hidden="true">
                <input type="submit" class="btn btn-primary" value="Update Airplanes"/>
            </form>
            <div style="margin:5px;"></div>

        </div>
    </div>
            </td>
        </tr>
        <tr>
            <td >
                <div class="well"  style="width: 400px;">
        <h4>Airports</h4>
        <div class="container" style="display:flex; text-align:center;">

            <form action="/viewAirports">
                <input type="submit" class="btn btn-default" value="View Airports"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addAirports" hidden="true">
                <input type="submit" class="btn btn-info" value="Add Airports"/>
            </form>
            <div style="margin:5px;"></div>
             <form action="/updateAirports" hidden="true">
                <input type="submit" class="btn btn-primary" value="Update Airports"/>
            </form>
            <div style="margin:5px;"></div>

        </div>
    </div>
            </td>
            <td >
                 <div class="well" style="width: 400px;">
        <h4>Routes</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/viewRoutes">
                <input type="submit" class="btn btn-default" value="View Routes"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addRoutes" hidden="true">
                <input type="submit" class="btn btn-info" value="Add Routes"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/updateRoutes" hidden="true">
                <input type="submit" class="btn btn-primary" value="Update Routes"/>
            </form>
            <div style="margin:5px;"></div>
             <form action="/summaryRoutes">
                <input type="submit" class="btn btn-primary" value="Route Summary"/>
            </form>
            <div style="margin:5px;"></div>
        </div>
    </div>
            </td>
        </tr>
        <tr >
            <td ><div class="well" style="width: 400px;">
        <h4>Locations</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/viewLocations">
                <input type="submit" class="btn btn-default" value="View Locations"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addLocations" hidden="true">
                <input type="submit" class="btn btn-info" value="Add Locations"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/updateLocations" hidden="true">
                <input type="submit" class="btn btn-primary" value="Update Locations"/>
            </form>
            <div style="margin:5px;"></div>

        </div>
    </div></td>
            <td > <div class="well" style="width: 400px;">
        <h4>Flights</h4>
                <table>
                    <tr>
                        <td>
                            <form action="/viewFlights">
                            <input type="submit" class="btn btn-default" value="View Flights"/>
                            </form>&nbsp;&nbsp;
                            </td>

                        <td>
                             <form action="/offerFlight">
                            <input type="submit" class="btn btn-info" value="Flight Offer"/>
                            </form>&nbsp;

                        </td>
                    </tr>

                </table>

    </div></td>
        </tr>



         </table>


       </div>
            </td>

        </tr>

    </table>




</div>
</body>
</html>