<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Simple Airline Management System</title>
    <style>
      body, html {
        height: 100%;
        margin: 0;
      }


      .bg {
        /* The image used */
        background-image: url("static/images/airport.jpeg");
        opacity: 0.7;
        /* Full height */
        height: 84%;

        /* Center and scale the image nicely */
        background-position: bottom;
        background-repeat: repeat;
        background-size: cover;
        /* overflow: hidden; */
      }


      * {
        font-family: myFirstFont;
      }
      </style>
</head>
<body>
<div class="container">
    <div class="well text-center">
        <h1>Simple Airline Management System - Admin's Homepage</h1>
    </div>
    <table>
        <tr>
            <td >
                <div class="well"  style="width: 500px;">
        <h4>Airline</h4>
        <div class="container" style="display:flex; text-align:center;">

            <form action="/viewAirline">
                <input type="submit" class="btn btn-default" value="View Airline"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addAirlines">
                <input type="submit" class="btn btn-info" value="Add Airlines"/>
            </form>
            <div style="margin:5px;"></div>
             <form action="/updateAirlines">
                <input type="submit" class="btn btn-primary" value="Update Airlines"/>
            </form>
            <div style="margin:5px;"></div>

        </div>
    </div>
            </td>
            <td >
                 <div class="well" style="width: 600px;">
        <h4>Airplane</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/viewAirplanes">
                <input type="submit" class="btn btn-default" value="View Airplanes"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/airlineInfo">
                <input type="submit" class="btn btn-info" value="Add Airplanes"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/updateAirplanes">
                <input type="submit" class="btn btn-primary" value="Update Airplanes"/>
            </form>
            <div style="margin:5px;"></div>

        </div>
    </div>
            </td>
        </tr>
        <tr>
            <td >
                <div class="well"  style="width: 500px;">
        <h4>Airports</h4>
        <div class="container" style="display:flex; text-align:center;">

            <form action="/viewAirports">
                <input type="submit" class="btn btn-default" value="View Airports"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addAirports">
                <input type="submit" class="btn btn-info" value="Add Airports"/>
            </form>
            <div style="margin:5px;"></div>
             <form action="/updateAirports">
                <input type="submit" class="btn btn-primary" value="Update Airports"/>
            </form>
            <div style="margin:5px;"></div>

        </div>
    </div>
            </td>
            <td >
                 <div class="well" style="width: 600px;">
        <h4>Routes</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/viewRoutes">
                <input type="submit" class="btn btn-default" value="View Routes"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addRoutes">
                <input type="submit" class="btn btn-info" value="Add Routes"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/updateRoutes">
                <input type="submit" class="btn btn-primary" value="Update Routes"/>
            </form>
            <div style="margin:5px;"></div>
             <form action="/summaryRoutes">
                <input type="submit" class="btn btn-primary" value="Route Summary"/>
            </form>
            <div style="margin:5px;"></div>
        </div>
    </div>
            </td>
        </tr>
        <tr >
            <td ><div class="well" style="width: 500px;">
        <h4>Locations</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/viewLocations">
                <input type="submit" class="btn btn-default" value="View Locations"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addLocations">
                <input type="submit" class="btn btn-info" value="Add Locations"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/updateLocations">
                <input type="submit" class="btn btn-primary" value="Update Locations"/>
            </form>
            <div style="margin:5px;"></div>

        </div>
    </div></td>
            <td > <div class="well" style="width: 600px;">
        <h4>Flights</h4>
                <table>
                    <tr>
                        <td>
                            <form action="/viewFlights">
                            <input type="submit" class="btn btn-default" value="View Flights"/>
                            </form>&nbsp;&nbsp;
                            </td>
                        <td>
                            <form action="/addFlights">
                            <input type="submit" class="btn btn-info" value="Add Flights"/>
                            </form>&nbsp;&nbsp;
                        </td>
                        <td>
                             <form action="/retireFlights">
                             <input type="submit" class="btn btn-primary" value="Retire Flights"/>
                             </form>&nbsp;&nbsp;
                        </td>
                        <td>
                             <form action="/offerFlight">
                            <input type="submit" class="btn btn-default" value="Flight Offer"/>
                            </form>&nbsp;

                        </td>
                    </tr>
                    <tr>
                        <td>
                             &nbsp;
                        </td>
                        <td>
                             <form action="/landingFlights">
                             <input type="submit" class="btn btn-info" value="Landing Flights"/>
                            </form>

                        </td>
                        <td>
                             <form action="/takeoffFlights">
                            <input type="submit" class="btn btn-default" value="TakeOff Flights"/>
                            </form>
                        </td>
                        <td></td>
                    </tr>
                </table>

    </div></td>
        </tr>
        <tr>
            <td><div class="well" style="width: 500px;">
        <h4>Pilots</h4>
         <table>
             <tr>
                 <td> <form action="/viewPilots">
                <input type="submit" class="btn btn-default" value="View Pilots"/>
            </form>&nbsp;</td>
                 <td><form action="/addPilots">
                <input type="submit" class="btn btn-info" value="Add Pilots"/>
            </form>&nbsp;</td>
                 <td> <form action="/updatePilots">
                <input type="submit" class="btn btn-primary" value="Update Pilots"/>
            </form>&nbsp;</td>
                 <td><form action="/assignPilots">
                <input type="submit" class="btn btn-default" value="Assign Pilots"/>
            </form>&nbsp;</td>
             </tr>

             <tr>
                 <td> &nbsp;
            </td>
                 <td>
            <form action="/grantPilotlicense">
                <input type="submit" class="btn btn-default" value="Grant License"/>
            </form></td>&nbsp;
                 <td>&nbsp;</td>
             </tr>
         </table>


       </div>
            </td>
            <td> <div class="well" style="width: 600px;">
        <h4>Persons</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/viewPersons">
                <input type="submit" class="btn btn-default" value="View Persons"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addPersons">
                <input type="submit" class="btn btn-info" value="Add Persons"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/boardPersonss">
                <input type="submit" class="btn btn-primary" value="Board Persons"/>
            </form>
            <div style="margin:5px;"></div>

        </div>
    </div></td>

        </tr>
         <tr>
            <td>
            </td>
            <td> <div class="well" style="width: 600px;">
        <h4>Passengers</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/viewPassengers">
                <input type="submit" class="btn btn-default" value="View Passengers"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/addPassengers">
                <input type="submit" class="btn btn-info" value="Add Passengers"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/boardPassengers">
                <input type="submit" class="btn btn-primary" value="Board Passengers"/>
            </form>
            <div style="margin:5px;"></div>
             <form action="/disembarkPassengers">
                <input type="submit" class="btn btn-default" value="Disembark Passengers"/>
            </form>
        </div>
    </div></td>

        </tr>
    </table>
   <table>
       <tr>
           <td> <div class="well" style="width: 500px;">
        <h4>Recycle Crew & Simulation Cycle</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/recycleCrew">
                <input type="submit" class="btn btn-default" value="Recycle Crew"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/simulationCycle">
                <input type="submit" class="btn btn-info" value="Simulation Cycle"/>
            </form>
            <div style="margin:5px;"></div>
        </div>
    </div></td>
        <td> <div class="well" style="width: 600px;">
        <h4>Flights & People (In Air - On Ground)</h4>
        <div class="container" style="display:flex; text-align:center;">
            <form action="/flightsInair">
                <input type="submit" class="btn btn-default" value="Flights In Air"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/flightsonGround">
                <input type="submit" class="btn btn-info" value="Flights on ground"/>
            </form>
            <div style="margin:5px;"></div>
             <form action="/passengersInair">
                <input type="submit" class="btn btn-primary" value="Passengers In air"/>
            </form>
            <div style="margin:5px;"></div>
            <form action="/passengersonGround">
                <input type="submit" class="btn btn-default" value="Passengers on ground"/>
            </form>
            <div style="margin:5px;"></div>
        </div>
    </div></td>
       </tr>
   </table>



</div>
</body>
</html>