{% block title %}Recycle Crew{% endblock %}
{% block fields %}
<form action="/recycleCrew2">
    <table>
        <tr>
            <td>
                <label class="form-control">Select Flight to recycle crew: </label>

                <select name="option" width="3000px">
                    {% for o in items %}
                    <option value="{{o.flightID }}" SELECTED>{{ o.flightID }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

       <tr>
           <td>
               <input type="submit" class="btn btn-default" value="Submit"/>
           </td>
       </tr>

        </table>
</form>

{% endblock %}