{% extends "view.html" %}
{% block title %}Passengers On Ground{% endblock %}

{% block table_head %}
<br>
<label name="ViewPassengersOnGroundtitle" class="form-control" style="font-weight:bold;text-align:center">View Passengers on Ground</label>
<br>
<br>
    <th>Departure From</th>
    <th>Airport</th>
    <th>Airport Name</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Num Pilots</th>
    <th>Num Passengers</th>
    <th>Joint Pilots Passengers</th>
    <th>Person List</th>


{% endblock %}