{% extends "view.html" %}
{% block title %}Passengers In Air{% endblock %}

{% block table_head %}
<br>
<label name="ViewPassengersinAirtitle" class="form-control" style="font-weight:bold;text-align:center">View Passengers in Air</label>
<br>
<br>
    <th>Departure From</th>
    <th>Arriving At</th>
    <th>Num Airplanes</th>
    <th>Airplane List</th>
    <th>Flight List</th>
    <th>Earliest Arrival</th>
    <th>Latest Arrival</th>
    <th>Num Pilots</th>
    <th>Num Passengers</th>
    <th>Joint Pilots Passengers</th>
    <th>Person List</th>


{% endblock %}